body {
   background-color: rgb(6, 3, 28);
   color: white;
   text-shadow: wheat;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   /* font-family: cursive; */
   /* font-family: sans-serif; */
}

.underline {
   width: 80vw;
   align-self: center;
   border-bottom: 5px solid rgb(2, 183, 248);
   margin-top: 5vh;
}

.underline-wide {
   width: 95vw;
   border-width: 10px;
}

p {
   margin-top: 0;
}

.all-container {
   display: flex;
   flex-direction: column;
}

.project {
   margin: 2vw;
   display: flex;
   flex-direction: column;
}

.image {
   width: 70vw;
   height: auto;
   align-self: center;
   border-radius: 10px;
   border: 5px;
   border-style: solid;
   border-color: rgb(2, 183, 248);
   margin: 1rem;
}

.github-btn {
   display: flex;
   width: 4rem;
   height: 1.2rem;
   background-color: rgb(109, 7, 241);
   margin: 0.5rem;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   font-weight: bold;
   font-size: 0.9rem;
   justify-content: center;
   align-items: center;
}

.project-head {
   display: flex;
   align-items: center;
}

.disabled {
   pointer-events: none;
   opacity: 0.4;
}
